<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p><%= @user.to_json %></p>
<p><%= current_user.to_json %></p>

<%# <p><%= @messages.to_json</p> %>

<% @messages.each do |message| %>

<div class="mess" id="messages">
  <%= cl_image_tag message.user.user_image %>
  <p class="name-left"><%= message.user.user_name %>:</p>
  <p><%= message.body %></p>
</div>

<% end %>
<%= render partial: 'messages/form' %>